<!-- Default box -->
<div class="card">
  <div class="card-header">
    <h3 class="card-title">About Us</h3>
  </div>

  <div class="container">
    <div class="card mt-4">
      <div class="row p-3 mt-3">
        <div class="col-md-6">
          <img src="../assets/img/img (13).jpg" alt="" class="img-fluid mx-auto d-block">
        </div>
        <div class="col-md-6">
          <p class="h4 text-center">- True Precision Home Inspections -</p>
          <p class="h6 paragraph">With the goal to raise the profile of the industry and to establish
            guidelines for the professional conduct of real estate buyer’s agents nationally. Provided
            strategic advice to the NSW Department of Fair Trading review of the Property, Stock and
            Business Agents Act, to ensure the activity of buyer’s agents is considered in drafting
            amendments. Our members are also actively involved in similar legislation with Government in
            Victoria, Queensland and Western Australia.</p>
          <h6 id="mobile">Mobile: +61 579 732 331</h6>
          <h6 id="email">Email Address: tprecisionhi@gmail.com</h6>
        </div>
      </div>
    </div>

    <div class="card mt-4">
      <div class="row p-3 mt-3">
        <div class="col-md-6">
          <p class="h4 text-center">- ABL Property -</p>
          <p class="h6 paragraph">Welcome to ABL Property Queensland where we take a simple approach. When
            you engage with us, you’re engaging with a team that’s solutions oriented and fully committed to
            providing you with the right outcomes. It’s this approach that has led to us achieving an
            enviable reputation for excellence and the provision of insightful property solutions to the
            corporate and public sectors, investors, developers, and financial intermediaries.</p>
          <h6 id="mobile">Mobile: +61 850 525 211</h6>
          <h6 id="email">Email Address: ablproperty@gmail.com</h6>
        </div>
        <div class="col-md-6">
          <img src="../assets/img/img (14).jpg" alt="" class="img-fluid mx-auto d-block">
        </div>
      </div>
    </div>

    <div class="card mt-4">
      <div class="row p-3 mt-3">
        <div class="col-md-6">
          <img src="../assets/img/img (15).jpg" alt="" class="img-fluid mx-auto d-block">
        </div>
        <div class="col-md-6">
          <p class="h4 text-center">- Maison Real Estate Agents -</p>
          <p class="h6 paragraph">Founded in Sydney in 2005, Maison Real Estate Agents is one of the few
            remaining,
            wholly owned Australian Facility services company with a focus on delivering Facility (security,
            cleaning and trafiic control service) and Technology solutions(cctv, security robots). Working
            in partnership with our clients, Maison Real Estate Agents provide a consultative approach to
            truly
            understand our clients’ needs. We deliver comprehensive integrated services to over 800 client
            sites across Australia.</p>
          <h6 id="mobile">Mobile: +61 444 762 238</h6>
          <h6 id="email">Email Address: maisonrea@gmail.com</h6>
        </div>
      </div>
    </div>

    <div class="card mt-4">
      <div class="row p-3 mt-3">
        <div class="col-md-6">
          <p class="h4 text-center">- Fox Real Estate -</p>
          <p class="h6 paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi fugit,
            pariatur voluptas
            facilis laboriosam quibusdam temporibus, placeat distinctio, ipsam impedit quae dolore quia
            explicabo voluptates labore reprehenderit consequatur. Qui, veniam architecto. Odit voluptas
            veniam esse impedit neque quod sunt explicabo nostrum mollitia aliquam tempore, perferendis
            alias eos expedita atque dicta, consequuntur nihil fuga velit nemo itaque quo. Recusandae,
            doloribus non.</p>
          <h6 id="mobile">Mobile: +61 457 780 524</h6>
          <h6 id="email">Email Address: foxxre@gmail.com</h6>
        </div>
        <div class="col-md-6">
          <img src="../assets/img/img (16).jpg" alt="" class="img-fluid mx-auto d-block">
        </div>
      </div>
    </div>

    <div class="card mt-4">
      <div class="row p-2 mt-3">
        <div class="col-md-6">
          <img src="../assets/img/img (17).jpg" alt="" class="img-fluid mx-auto d-block">
        </div>
        <div class="col-md-6">
          <p class="h4 text-center">- KG Real Properties Group -</p>
          <p class="h6 paragraph">KG Real Properties Group is a full-service, boutique project marketing,
            residential sales and property management company with an international client base. We sell the
            very best projects and strive to positively contribute to Melbourne's broader property & housing
            landscape.We specialise in full-service property management and offer solutions underpinned by
            technology, customer service and industry leading systems that add value to our clients'​ bottom
            line.</p>
          <h6 id="mobile">Mobile: +61 554 088 309</h6>
          <h6 id="email">Email Address: kgrealprog@gmail.com</h6>
        </div>
      </div>
    </div>

    <div class="card mt-4">
      <div class="row p-3 mt-3">
        <div class="col-md-6">
          <p class="h4 text-center">- Belle Property -</p>
          <p class="h6 paragraph">Belle Property delivers expert property advice achieved through our
            multidisciplinary capability with experts across Advisory, Valuations, Research & Strategy,
            Projects and Capital. Drawing on the skills and experience of our industry leading specialists
            we pride ourselves on strong client relationships achieved through our highly personalised service
            connecting you with undiscovered opportunities.Our people are as dynamic as the property industry itself.
          </p>
          <h6 id="mobile">Mobile: +61 454 125 056</h6>
          <h6 id="email">Email Address: bellep@gmail.com</h6>
        </div>
        <div class="col-md-5">
          <img src="../assets/img/img (18).png" alt="" class="img-fluid mx-auto d-block">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.card -->