<div class="card">
    <div class="card-body">
        <h3 class="text-center p-4">Sale Properties</h3>
        <div class="row p-3">
            <div class="col">
                <div class="card">
                    <img src="../assets/img/img (1).jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <p class="card-text">
                            <a routerLink="/details">10 Jamie Street, Gracemere, QLD 4702</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../assets/img/img (2).jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <p class="card-text">
                            <a routerLink="/details">15 Govinda Street, Gracemere, QLD 4702</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../assets/img/img (3).jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <p class="card-text">
                            <a routerLink="/details">5 Alexander Avenue, Parkhurst, QLD 4702</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row p-3">
            <div class="col">
                <div class="card">
                    <img src="../assets/img/img (5).jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <p class="card-text">
                            <a routerLink="/details">6 Brisbane Street, Townsville, QLD 4810</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../assets/img/img (20).jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <p class="card-text">
                            <a routerLink="/details">17 Thenul Lane, Mackay, QLD 4740</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../assets/img/img (22).jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <p class="card-text">
                            <a routerLink="/details">2 Lilly Pilly Avenue, Gracemere, QLD 4702</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>