<div class="card">
    <div class="card-body">
        <h3 class="text-center p-4">Rent Properties</h3>
        <div class="row p-3">
            <div class="col">
                <div class="card">
                    <img src="../assets/img/img (4).jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text"><a routerLink="/details">1 Alex Street, Gladstone, QLD 4680</a></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../assets/img/img (6).jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text"><a routerLink="/details">11 Jamie Crescent Avenue, Gracemere, QLD 4702</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../assets/img/img (7).jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text"><a routerLink="/details">14 Jenul Avenue, Cape York, QLD 4873</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row p-3">
            <div class="col">
                <div class="card">
                    <img src="../assets/img/img (8).jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text"><a routerLink="/details">3 Bowen Street, Bunderberg, QLD 4670</a></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../assets/img/img (23).jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text"><a routerLink="/details">10 Flower Street, Cairns, QLD 4870</a></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../assets/img/img (24).jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text"><a routerLink="/details">19 Ureka Street, Yeppoon, QLD 4703</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>